{% extends 'baseAdmin.html.twig' %}
{% block body %}
    <center>
    <h1> Ajout des Matieres</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="ajouter"   />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('list') }}"></a>
        </li>
    </ul> </center>
{% endblock %}
